<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904902775686-t7dpr5goegvh4p0sckusl5tsrnlo7jlf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904902775686-t7dpr5goegvh4p0sckusl5tsrnlo7jlf</string>
	<key>API_KEY</key>
	<string>AIzaSyDnLr4BTB0pHLdpogiCAMHlVB3tmwuWWRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>904902775686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fonctionnalites</string>
	<key>PROJECT_ID</key>
	<string>fonctionnalites-firebase-1f864</string>
	<key>STORAGE_BUCKET</key>
	<string>fonctionnalites-firebase-1f864.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904902775686:ios:4e91edd1286007ff0f5207</string>
</dict>
</plist>